<h3>Carrinho</h3>

<p>
  <a routerLink="/shipping">Preços de envio</a>
</p>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.nome }}</span>
  <span>{{ item.preco | currency }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="nome">
      Nome
    </label>
    <input id="nome" type="text" formControlName="nome">
  </div>

  <div>
    <label for="endereco">
      Endereco
    </label>
    <input id="endereco" type="text" formControlName="endereco">
  </div>


  <button class="button" type="submit">COMPRAR</button>

</form>
